body {
  background: radial-gradient(circle, #1a1a1a, #000000);
  color: white; /* Para que el texto sea visible */
  margin: 0;
  height: 100vh;
}
.banner {
    background: rgb(0, 0, 0);
    height: 300px; /* Ajusta según necesites */
    display: flex;
    justify-content: center;
    align-items: center;
}


.banner img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* O prueba "cover" si quieres que la imagen ocupe todo */
}

.card {
  background-color: rgba(240, 240, 240, 0.1); /* fondo negro con transparencia */
  color: white;                         /* texto blanco */
  border-radius: 15px;
}

.btn-carrito {
  width: 150px; /* Ajusta este valor según necesites */
}

.filtro-select {
  width: 500px; /* Ajusta el valor según necesites */
}